body {
  margin: 0;
  padding: 0;
}
header {
  height: 75px;
  background-color: #d3d3d3;
  width: 100%;
  padding: 0px 25px;
  display: flex;
  align-items: center;
}
.w3schools-logo {
  width: 45px;
  margin: 2px 8px;
}
.w3schools-logo img {
  width: 100%;
}
.header-left {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-left a {
  /* background-color: red; */
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 18px;
  font-size: 18px;
  font-weight: 600px;
  text-decoration: none;
  color: #000;
}
.header-left a:hover {
  background-color: #04aa6d;
}
.header-left a:first-child:hover {
  background-color: transparent;
}
.header-left a:first-child {
  padding: 0px; /* to avoid hover background color on logo*/
}
.fa-solid {
  padding: 0px 3px;
}
.header-left input[type="text"] {
  border-radius: 25px;
  padding-left: 20px;
  margin-left: 15px;
  height: 30px;
}
button {
  position: relative;
  right: 40px;
  background-color: white;
  border-radius: inherit;
  border: none;
  cursor: pointer;
}
button:hover {
  border-color: #04aa6d;
}

.header-right {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-right a {
  float: right;
  height: 70%;
  display: flex;
  align-items: center;
  padding: 0px 38px;
  font-size: 18px;
  font-weight: 600px;
  text-decoration: none;
  color: #000;
}
.header-right a:hover {
  background-color: #e7e9eb;
  border-radius: 25px;
}
.signup {
  background-color: #3ebe8f;
  color: white;
}
.login {
  background-color: #c6ecde;
}
.container .space {
  width: 100%;
}
.container {
  position: absolute;
}
.learntocode {
  color: green;
  font-size: 50px !important;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
}
.learntocode2 {
  color: #fff4a3;
  font-size: 21px !important;
  font-weight: 700;
  margin-top: 30px !important;
  font-family: "Source Sans Pro", sans-serif;
}
@media screen and (max-width: 980px) {
  background-image: ;
}
.subheader {
  letter-spacing: 1px;
  font-family: "Source Sans Pro subeader", sans-serif;
}
.subheader a {
  text-decoration: none;
  display: inline-block;
  width: auto;
  margin: 0 !important;
  font-size: 15px !important;
  line-height: 1.5;
  color: inherit;
  background-color: #00000000;
}
